<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpiaoju.order.dao.OrderBankDao">

	<select id="get" resultType="com.cpiaoju.order.model.OrderBankDO">
		select `id`,`company_name`,`bank_name`,`bank_no`,`clearing_bank_no` from sys_order_bank where id = #{value}
	</select>

	<select id="list" resultType="com.cpiaoju.order.model.OrderBankDO">
		select `id`,`company_name`,`bank_name`,`bank_no`,`clearing_bank_no` from sys_order_bank
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="companyName != null and companyName != ''"> and company_name = #{companyName} </if>
		  		  <if test="bankName != null and bankName != ''"> and bank_name = #{bankName} </if>
		  		  <if test="bankNo != null and bankNo != ''"> and bank_no = #{bankNo} </if>
		  		  <if test="clearingBankNo != null and clearingBankNo != ''"> and clearing_bank_no = #{clearingBankNo} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_order_bank
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="companyName != null and companyName != ''"> and company_name = #{companyName} </if>
		  		  <if test="bankName != null and bankName != ''"> and bank_name = #{bankName} </if>
		  		  <if test="bankNo != null and bankNo != ''"> and bank_no = #{bankNo} </if>
		  		  <if test="clearingBankNo != null and clearingBankNo != ''"> and clearing_bank_no = #{clearingBankNo} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cpiaoju.order.model.OrderBankDO">
		insert into sys_order_bank
		(
			`id`, 
			`company_name`, 
			`bank_name`, 
			`bank_no`, 
			`clearing_bank_no`
		)
		values
		(
			#{id}, 
			#{companyName}, 
			#{bankName}, 
			#{bankNo}, 
			#{clearingBankNo}
		)
	</insert>
	 
	<update id="update" parameterType="com.cpiaoju.order.model.OrderBankDO">
		update sys_order_bank 
		<set>
			<if test="companyName != null">`company_name` = #{companyName}, </if>
			<if test="bankName != null">`bank_name` = #{bankName}, </if>
			<if test="bankNo != null">`bank_no` = #{bankNo}, </if>
			<if test="clearingBankNo != null">`clearing_bank_no` = #{clearingBankNo}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_order_bank where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_order_bank where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>