<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpiaoju.order.dao.OrderContractInvoiceMapper">

    <select id="list" resultType="com.cpiaoju.order.model.OrderContractInvoice">
        select * from sys_order_contract_invoice
        WHERE cid IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
</mapper>
