<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpiaoju.warn.dao.InvoiceWarningContractMapper">

    <select id="list" resultType="com.cpiaoju.warn.model.InvoiceWarningContract">
        select * from sys_invoice_warning_contract
        <where>
            <if test="warnId !=null and warnId !=''">
                and warn_id=#{warnId}
            </if>
            <if test="oid !=null and oid !=''">
                and oid=#{oid}
            </if>
        </where>
    </select>
    
</mapper>
